/* header */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

.header-container {
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.header {
    width: 100%;
    height: 90px;
}

nav {
   background-color: #3879af;
   display: flex;
   max-width: auto;
   justify-content: space-between;
}

.logo {
    color: white;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 105px;
}

.header-links {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: inline;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 29px;
}

.button-header {
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}

.logo-img {
   width: 62px;
   height: 62px;
   margin: auto;
   margin-left: 43px;
}

/* notices section */

#notices {
    display: flex;
    flex-direction: column;
    width: 990px;
    height: 1000px;
    align-items: center;
    margin: auto;
}

.last-news {
    color: #797979;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
}

.notice {
    background-color: #F0F0F0;
    padding: 16px 40px 40px 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.notice-title {
    font-weight: 600;
    color: #3879af;
    font-size: 24px;
}

.paragraph-title {
    color: #797979;
    font-size: 16px;
}

.date {
    font-size: 10px;
    color: #3879af;
}

.paragraph {
    color: #797979;
    font-size: 10px;
}

.read-more {
    text-decoration: none;
    font-size: 14px;
    color: #DD7E92;
}

.container-more {
    background-color:  #DD7E92;
    padding: 20px 50px 20px 50px ;
    border-radius: 8px;
}

.more {
    text-decoration: none;
    color: white;
    margin-bottom: 56px;
}

/*game section */
#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;  
    height: 559px;
    margin: auto;
    background-color: #F0F0F0;
    margin-top: 56px;
}

.game{
    width: 300px;
    height: 326px;
    margin: 73px 30px 73px 0px;
    background-color: #F0F0F0;
    border-radius: 8px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.game-image {
    width: 300px;
    height: 169px;
    border-radius: 8px 8px 0px 0px;
}

.container-games {
    display: flex;
    margin-bottom: 70px;
}

.game-title {
    margin: auto;
    color: #3879af;
    font-size: 36px;
    margin-top: 36px;
}

.title {
    font-size: 18px;
    margin-left: 40px;
    color: #797979;
}

.description {
    font-size: 12px;
    color: #797979;
    margin-left: 47px;
    margin-bottom: -30px;
}

.de {
    color: #3879af;
    font-weight: bold;
}

.grade {
    color: #3879af;
    font-size: 36px;
    font-weight: bold;
    justify-self: center;
    margin-left: 124px;
}

/* Subscribe section */

#subscribe {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
}

.title-subscribe {
    font-size: 36px;
    color: #797979;
    margin: auto;
}

.container-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 61px;
    width: 790px;
    height: 522px;
    background-color: #F0F0F0;
    border-radius: 8px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.form {
    display: flex;
    flex-direction: column;
    width: 642px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}

.input-text {
    width: 642px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #797979;
    padding-left: 22px;
    color: #BBBCB3;
    font-weight: 500;
    margin-bottom: 20px;
}

.question {
    font-size: 16px;
    color: #797979;
}

.radio-input {
    margin-bottom: 7px;
    color: #797979;
}

.checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #797979;
}

.buttons {
    display: flex;
}

.form-button-submit {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #DD7E92;
    border-radius: 8px;
    border: solid #DD7E92;
    padding: 20px 90px 20px 90px;
    font-size: 18px;
    cursor: pointer;
}

.form-button-reset {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid #DD7E92;
    color: #DD7E92;
    cursor: pointer;
    padding: 20px 90px 20px 90px;
    font-size: 18px;
}

/*Footer */

.footer {
    margin-top: 61px;
    background-color: #383838;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 190px;
    align-items: center;
    font-size: 14px;
}


.right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}