/* header */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

.header-container {
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.header {
    width: auto;
    height: 90px;
}

nav {
   background-color: #3879af;
   display: flex;
   max-width: auto;
   justify-content: space-between;
}

.logo {
    color: white;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 105px;
}

.header-links {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: inline;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 29px;
}

.button-header {
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}

.logo-img {
   width: 62px;
   height: 62px;
   margin: auto;
   margin-left: 43px;
}

/* notices section */

#notices {
    display: flex;
    flex-direction: column;
    width: 990px;
    height: 1000px;
    align-items: center;
    margin: auto;
}

.last-news {
    color: #797979;
    margin-top: 40px;
    margin-bottom: 40px;
}

.notice {
    background-color: #F0F0F0;
    padding: 16px 40px 40px 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.notice-title {
    font-weight: 600;
    color: #3879af;
    font-size: 24px;
}

.paragraph-title {
    color: #797979;
    font-size: 16px;
}

.date {
    font-size: 10px;
    color: #3879af;
}

.paragraph {
    color: #797979;
    font-size: 10px;
}

.read-more {
    text-decoration: none;
    font-size: 14px;
    color: #DD7E92;
}

.container-more {
    background-color:  #DD7E92;
    padding: 20px 50px 20px 50px ;
    border-radius: 8px;
}

.more {
    text-decoration: none;
    color: white;
}