* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


html { 
    scroll-behavior: smooth;
}

:root {
    --header-blue: #3879af;
    --grey: #797979;
    --buttons-color: #DD7E92;
    --light-grey: #F0F0F0;
    --footer: #383838;
}

#header {
    width: 100%;
    background-color: var(--header-blue);
    color: white;
    height: 90px;
    position: fixed;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.links {
    display: none;
}

.logo-img {
    width: 62px;
}

#notices {
    padding: 120px 0 0 0;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.last-news {
    color: var(--grey);
    font-weight: bold;
    text-align: center;
}

.notice {
    margin: 10px;
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 13px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.notice-title {
    color: var(--header-blue);
    font-size: 16px;
}
.paragraph-title {
    color: var(--grey);
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
}

hr {
 border: solid 0.2px var(--header-blue);
 margin: 3px 0 3px 0;
}

.date {
    color: var(--header-blue);
    font-size: 10px;
}

.paragraph {
    color: var(--grey);
    font-size: 10px;
    margin-top: 10px;
}

.container-more {
    display: flex;
    justify-content: center;
}

.read-more {
    text-decoration: none;
    color: var(--buttons-color);
    font-size: 14px;
    font-weight: bold;
}

.more {
    text-decoration: none;
    color: white;
    background-color: var(--buttons-color);
    border-radius: 8px;
    padding: 20px 50px;
    margin-top: 28px;
    margin-bottom: 50px;
}

#games {
    width: 100%;
    background-color: var(--light-grey);
}

.game-title {
    text-align: center;
    padding: 40px 0 20px 0;
    color: var(--header-blue);
}

.container-games {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    margin: 27px 10px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
    padding-bottom: 20px;
    border-radius: 0 0 8px 8px;
    text-align: center;
}

.game img {
    width: 100%;
    max-width: 300px;
    border-radius: 4px 4px 0 0;
}

.title {
    color: var(--grey);
    font-weight: bold;
    font-size: 18px;
    margin-top: 27px;
}

.de {
    color: var(--header-blue);
    font-weight: bold;
}

.description {
    font-size: 12px;
    color: var(--grey);
}

.grade {
    color: var(--header-blue);
    margin-top: 13px;
    font-size: 36px;
    font-weight: bold;
}

#subscribe {
    width: 100%;
    margin-top: 40px;
}

.title-subscribe {
    color: var(--grey);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.container-form {
    width: 100%;
    max-width: 790px;
    background-color: var(--light-grey);
    padding: 53px 0 32px 0;
    margin: 16px auto 40px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 3px 0px #BBBCB3;
}

.form {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    color: var(--grey);
}

.input-text {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: solid 1px var(--grey);
    padding-left: 10px;
    border-radius: 4px;
}

.input-text:focus {
    outline: 0;
}

.question {
    font-size: 16px;
    margin-bottom: 8px;
}

.checkbox {
    margin-top: 35px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 50px 30px 30px 30px;
}

.form-button-submit {
    margin-bottom: 20px;
    color: white;
    background-color: var(--buttons-color);
    border: none;
    padding: 20px 0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
}

.form-button-reset {
    margin-bottom: 20px;
    color: var(--buttons-color);
    background-color: white;
    border: none;
    padding: 20px 0;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid var(--buttons-color);
    border-radius: 8px;
}

.footer {
    background-color: var(--footer);
}